.container-contato{
    display: flex;
    flex-direction: column;
    padding: 20px;   
}

.container-contato h2{
    text-align: center;
    padding: 10px;
    margin-top: 10px;

}

.sub-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.mapa {
    margin-left: 5px;
}

.bt-enviar{
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
}

.form-container {
    margin-right: 80px;
    margin-left: 20px;

}

@media (max-width: 1000px) {
    .sub-container{
        flex-direction: column;
        align-items: center;
    }

    .form-container {
        margin-bottom: 30px;
    }

    
}