
body {
    font-family: 'Lato';
    margin: 0;
}

#container{

    position: relative; /*centralizar layout*/
    margin-top: 0px; /*centralizar layout*/
    margin-right: auto; /*centralizar layout*/
    margin-bottom: 0px; /*centralizar layout*/
    margin-left: auto; /*centralizar layout*/
    width: 900px; /*comprimento da div*/
    height: auto; /*largura da div */
    background-color: white;
}


#logo{
    width: 900px;
    height: 90px;
    float: right;
    display: flex;
    background-repeat: no-repeat;
    background-position-x: 250px;
}

.img-tamanho{
    max-width:900px;
    max-height: 90px;
    width: auto;
    height: auto;
}

#img-principal{
    max-width:900px;
    max-height: 90px;
    width: auto;
    height: auto;
    margin-left: 90px;
}

#menu{
    width: 900px;
    height: 25px;
    align-items: center;
    /*background-color: rgb(109, 22, 44); */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bree Serif', serif;
    padding-top: 20px;
}

#menu div a /*todo link q tiver dentro de menu vai receber esse comando css*/ 
{
   font-family: 'Lato';
   font-size: 24px;
   color: #191970;
   text-decoration: none;
   margin: 10px;
}

#menu a:hover /*oq acontece quando aproxima o mouse do link*/{
   color: #FFD700;
}

#banner{
    width: 900px;
    height: 330px;
}

.titulo{
    font-size: 18px;
    font-weight: bold;
    padding-top: 1.5%;
    padding-bottom: 2%; 
}
.c-texto{
    text-align: justify;
    padding: 1%;
    text-indent: 8%;
}

#c-imagem img{
    width: 70%;
    padding: 1%;
}

#conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#curiosidades{
    width: 55%;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

#ofertas{
    width: 110%;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    
}

#ofertas img{
    width: 25%;
    height: 0%;
}

.imagem-desc{
    display: flex;
    width: 85%;
    transition: all .2s ease-in-out;
    border-radius: 3px;
}

.imagem-desc:hover{
    transform: scale(1.1);
}

.imagem-desc img{
    padding: 1.5%;
}

.descricao{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
}

.preco-produto{
    color: #363636;
    font-size: 15px;
}
